## Data types

### Numbers

In [60]:
1 + 1

2

In [61]:
1 * 3

3

In [62]:
1 / 2

0.5

In [63]:
2 ** 4

16

In [64]:
4 % 2

0

In [65]:
5 % 2

1

In [66]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [67]:
# Can not start with number or special characters
name_of_var = 2

In [68]:
x = 2
y = 3

In [69]:
z = x + y

In [70]:
z

5

### Strings

In [71]:
'single quotes'

'single quotes'

In [72]:
"double quotes"

'double quotes'

In [73]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [74]:
x = 'hello'

In [75]:
x

'hello'

In [76]:
print(x)

hello

In [77]:
num = 12
name = 'Sam'

In [78]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [79]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [80]:
[1,2,3]

[1, 2, 3]

In [81]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [82]:
my_list = ['a','b','c']

In [83]:
my_list.append('d')

In [84]:
my_list

['a', 'b', 'c', 'd']

In [85]:
my_list[0]

'a'

In [86]:
my_list[1]

'b'

In [87]:
my_list[1:]

['b', 'c', 'd']

In [88]:
my_list[:1]

['a']

In [89]:
my_list[0] = 'NEW'

In [90]:
my_list

['NEW', 'b', 'c', 'd']

In [91]:
nest = [1,2,3,[4,5,['target']]]

In [92]:
nest[3]

[4, 5, ['target']]

In [93]:
nest[3][2]

['target']

In [94]:
nest[3][2][0]

'target'

### Dictionaries

In [95]:
d = {'key1':'item1','key2':'item2'}

In [96]:
d

{'key1': 'item1', 'key2': 'item2'}

In [97]:
d['key1']

'item1'

### Booleans

In [98]:
True

True

In [99]:
False

False

### Tuples

In [100]:
t = (1,2,3)

In [101]:
t[0]

1

### Sets

In [145]:
{1,2,3}

{1, 2, 3}

In [146]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [147]:
1 > 2

False

In [148]:
1 < 2

True

In [149]:
1 >= 1

True

In [150]:
1 <= 4

True

In [151]:
1 == 1

True

In [152]:
'hi' == 'bye'

False

## Logic Operators

In [153]:
(1 > 2) and (2 < 3)

False

In [154]:
(1 > 2) or (2 < 3)

True

In [155]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [156]:
if 1 < 2:
    print('Yep!')

Yep!

In [157]:
if 1 < 2:
    print('yep!')

yep!

In [158]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [159]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [160]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [161]:
seq = [1,2,3,4,5]

In [162]:
for item in seq:
    print(item)

1
2
3
4
5

In [163]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [164]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [269]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [270]:
range(5)

range(0, 5)

In [271]:
for i in range(5):
    print(i)

0
1
2
3
4

In [272]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [273]:
x = [1,2,3,4]

In [274]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [275]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [276]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [277]:
my_func

In [278]:
my_func()

default

In [279]:
my_func('new param')

new param

In [280]:
my_func(param1='new param')

new param

In [281]:
def square(x):
    return x**2

In [282]:
out = square(2)

In [283]:
print(out)

4

## lambda expressions

In [284]:
def times2(var):
    return var*2

In [285]:
times2(2)

4

In [286]:
lambda var: var*2

## map and filter

In [183]:
seq = [1,2,3,4,5]

In [184]:
map(times2,seq)

In [185]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [186]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [187]:
filter(lambda item: item%2 == 0,seq)

In [188]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [189]:
st = 'hello my name is Sam'

In [190]:
st.lower()

'hello my name is sam'

In [191]:
st.upper()

'HELLO MY NAME IS SAM'

In [192]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [193]:
tweet = 'Go Sports! #Sports'

In [194]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [195]:
tweet.split('#')[1]

'Sports'

In [196]:
d

{'key1': 'item1', 'key2': 'item2'}

In [197]:
d.keys()

dict_keys(['key1', 'key2'])

In [198]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [199]:
lst = [1,2,3]

In [200]:
lst.pop()

3

In [201]:
lst

[1, 2]

In [202]:
'x' in [1,2,3]

False

In [203]:
'x' in ['x','y','z']

True

## Data types

### Numbers

In [204]:
1 + 1

2

In [205]:
1 * 3

3

In [206]:
1 / 2

0.5

In [207]:
2 ** 4

16

In [208]:
4 % 2

0

In [209]:
5 % 2

1

In [210]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [211]:
# Can not start with number or special characters
name_of_var = 2

In [212]:
x = 2
y = 3

In [213]:
z = x + y

In [214]:
z

5

### Strings

In [215]:
'single quotes'

'single quotes'

In [216]:
"double quotes"

'double quotes'

In [217]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [218]:
x = 'hello'

In [219]:
x

'hello'

In [220]:
print(x)

hello

In [221]:
num = 12
name = 'Sam'

In [222]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [223]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [224]:
[1,2,3]

[1, 2, 3]

In [225]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [226]:
my_list = ['a','b','c']

In [227]:
my_list.append('d')

In [228]:
my_list

['a', 'b', 'c', 'd']

In [229]:
my_list[0]

'a'

In [230]:
my_list[1]

'b'

In [231]:
my_list[1:]

['b', 'c', 'd']

In [232]:
my_list[:1]

['a']

In [233]:
my_list[0] = 'NEW'

In [234]:
my_list

['NEW', 'b', 'c', 'd']

In [235]:
nest = [1,2,3,[4,5,['target']]]

In [236]:
nest[3]

[4, 5, ['target']]

In [237]:
nest[3][2]

['target']

In [238]:
nest[3][2][0]

'target'

### Dictionaries

In [239]:
d = {'key1':'item1','key2':'item2'}

In [240]:
d

{'key1': 'item1', 'key2': 'item2'}

In [241]:
d['key1']

'item1'

### Booleans

In [242]:
True

True

In [243]:
False

False

### Tuples

In [244]:
t = (1,2,3)

In [245]:
t[0]

1

### Sets

In [247]:
{1,2,3}

{1, 2, 3}

In [248]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [249]:
1 > 2

False

In [250]:
1 < 2

True

In [251]:
1 >= 1

True

In [252]:
1 <= 4

True

In [253]:
1 == 1

True

In [254]:
'hi' == 'bye'

False

## Logic Operators

In [255]:
(1 > 2) and (2 < 3)

False

In [256]:
(1 > 2) or (2 < 3)

True

In [257]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [258]:
if 1 < 2:
    print('Yep!')

Yep!

In [259]:
if 1 < 2:
    print('yep!')

yep!

In [260]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [261]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [262]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [263]:
seq = [1,2,3,4,5]

In [264]:
for item in seq:
    print(item)

1
2
3
4
5

In [265]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [268]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [267]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [287]:
range(5)

range(0, 5)

In [288]:
for i in range(5):
    print(i)

0
1
2
3
4

In [289]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [290]:
x = [1,2,3,4]

In [291]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [292]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [293]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [294]:
my_func

In [295]:
my_func()

default

In [296]:
my_func('new param')

new param

In [297]:
my_func(param1='new param')

new param

In [298]:
def square(x):
    return x**2

In [299]:
out = square(2)

In [300]:
print(out)

4

## lambda expressions

In [301]:
def times2(var):
    return var*2

In [302]:
times2(2)

4

In [303]:
lambda var: var*2

## map and filter

In [304]:
seq = [1,2,3,4,5]

In [305]:
map(times2,seq)

In [306]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [307]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [308]:
filter(lambda item: item%2 == 0,seq)

In [309]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [310]:
st = 'hello my name is Sam'

In [311]:
st.lower()

'hello my name is sam'

In [312]:
st.upper()

'HELLO MY NAME IS SAM'

In [313]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [314]:
tweet = 'Go Sports! #Sports'

In [315]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [316]:
tweet.split('#')[1]

'Sports'

In [317]:
d

{'key1': 'item1', 'key2': 'item2'}

In [318]:
d.keys()

dict_keys(['key1', 'key2'])

In [319]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [321]:
lst = [1,2,3]

In [322]:
lst.pop()

3

In [323]:
lst

[1, 2]

In [324]:
'x' in [1,2,3]

False

In [325]:
'x' in ['x','y','z']

True